/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
    margin-right: auto !important;;
    margin-left: auto !important;;
    max-width: 80% !important;;
  }

/* Estilos para el header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: aqua;
  text-decoration: none;
  transition: text-decoration 0.3s;
}
nav ul li a:hover {
  text-decoration: underline;
}

/* Estilos para las secciones */
section {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Estilos específicos para la sección de productos */
#products {
  background-color: #f9f9f9;
}

#products h2 {
  text-align: center;
}

#products div {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

#products div:hover {
  transform: translateY(-5px);
}

/* Estilos específicos para la sección de detalles del producto */
#detalle-producto {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-right: auto !important;;
  margin-left: auto !important;;
  max-width: 80% !important;;
}

/* Estilos específicos para la sección de blog */
#blog {
  background-color: #fff;
}

#blog .blog-post {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blog .blog-post button {
  margin-top: 10px;
}

/* Estilos específicos para la sección de carrito */
#carrito {
  background-color: #f9f9f9;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#carrito div {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

#carrito div button {
  margin-top: 5px;
}

/* Estilos específicos para la sección "Sobre Nosotros" */
#about {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#about .card {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

#about .card img {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

#about .card h3 {
  margin-top: 10px;
}

#about .card p {
  margin: 5px 0;
}

#about .card svg {
  margin-top: 10px;
}
#detalle-producto img {
  max-width: 100%;
  height: auto;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

h2
{
  text-align: center;
}

h3
{
  text-align: center;
}

p
{
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

div
{
  text-align: center;
}


.slider-frame
{
  width: 1200px;
  height: auto;
  margin: 50px auto 0;
  overflow: hidden;

  animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame ul
{
  display: flex;
  padding: 0;
  width: 400%;  /*Cambiar segun el total de imagenes por ejemplo 6 imagenes 600 y asi */
}

.slider-frame li
{
  list-style: none;
  width: 100%;
}

.slider-frame img
{
  width: 100%;
}

@keyframes slide
{
  0% {margin-left: 0%;}
  20% {margin-left: 0%;}

  25% {margin-left: -100%;}
  45% {margin-left: -100%;}

  50% {margin-left: -200%;}
  70% {margin-left: -200%;}

  75% {margin-left: -300%;}
  95% {margin-left: -300%;}

}
.container {
    margin-right: auto !important;;
    margin-left: auto !important;;
    max-width: 80% !important;;
    text-align: center;
  }

/* Estilos para el header */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}